<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tdedu.bu.dao.UserCommentDao">
	<resultMap type="com.tdedu.bu.domain.UserComment" id="commentRM">
		<id property="id" column="USER_COMMENT_ID"/>
		<result property="userId" column="USERID"/>
		<result property="userName" column="USERNAME"/>
		<result property="sectionId" column="SECTION_ID"/>
		<result property="comment" column="COMMENT"/>
		<result property="commentDate" column="COMMENT_DATE"/>
		<result property="commentStatus" column="COMMENT_STATUS"/>
		<result property="parentId" column="PARENT_ID"/>
	</resultMap>
	<!-- 按id查询 -->
	<select id="get" resultMap="commentRM">
		select * from td_usercomment where USER_COMMENT_ID=#{id}
	</select>
	<!-- 插入 -->
	<insert id="insert" parameterType="com.tdedu.bu.domain.UserComment">
		insert into td_usercomment
		(USER_COMMENT_ID,USERID,USERNAME,SECTION_ID,COMMENT,COMMENT_DATE,COMMENT_STATUS,PARENT_ID") values
		( #{id},
		  #{userId},
		  #{userName},	
		  #{sectionId},
		  #{comment},
		  #{commentDate},
		  #{commentStatus},
		  #{parentId}
		)
	</insert>
	<!-- 更新 -->
	<update id="update" parameterType="com.tdedu.bu.domain.UserComment">
		update td_usercomment
		<set>
			<if test="userId != null">USERID=#{userId},</if>
			<if test="userName != null">USERNAME=#{userName},</if>
			<if test="sectionId != null">SECTION_ID=#{sectionId},</if>
			<if test="comment != null">COMMENT=#{comment},</if>
			<if test="commentDate != null">COMMENT_DATE=#{commentDate},</if>
			<if test="commentStatus != null">COMMENT_STATUS=#{commentStatus},</if>
			<if test="parentId != null">PARENT_ID=#{parentId},</if>
		</set>
		where USER_COMMENT_ID =#{id}
	</update>
	<!-- 删除 -->
	<delete id="delete" parameterType="string">
		delete from td_usercomment where USER_COMMENT_ID=#{id}
	</delete>
</mapper>